<mat-form-field  appearance="outline" fxFlex="100" [formGroup]="group">
    <input matInput [matDatepicker]="picker"  [min]="'1900-06-15'" [max]="'2000-06-15'"
     [value]="field.value" [formControlName]="field.name"  [placeholder]="field.label">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
        <mat-error *ngIf="group.get(field.name).hasError(validation.name)">{{validation.message}}</mat-error>
    </ng-container>
    <br>
    <br>
</mat-form-field>