<header>
    <div class="container d-flex align-items-center justify-content-between">
        <a href="" id="cigars"></a>
        <nav>
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Product</a>
            <a href="">Contact</a>
        </nav>
    </div>
</header>

<section id="banner" class="d-flex">
    <div class="overlay d-flex justify-content-center align-items-center">
        <h1>
            <span>Cigar You</span><br />Will Love
        </h1>
    </div>
</section>
<section id="productSec">
    <div class="container d-flex justify-content-between">
        <aside>
            <div class="imgSec" style="background-image: url('/assets/images/banner1.jpg');">
                <h2>Cigars</h2>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, a. Velit eaque eos consequatur enim voluptatum obcaecati, doloribus officia repudiandae numquam rerum!</p>
        </aside>
        <aside>
            <div style="background-image: url('/assets/images/banner2.jpg');" class="imgSec">
                <h2>Humidors</h2>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, a. Velit eaque eos consequatur enim voluptatum obcaecati, doloribus officia repudiandae numquam rerum!</p>
        </aside>
        <aside >
            <div class="imgSec" style="background-image: url('/assets/images/banner3.jpg');">
                <h2>Accessories</h2>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, a. Velit eaque eos consequatur enim voluptatum obcaecati, doloribus officia repudiandae numquam rerum!</p>
        </aside>
    </div>
</section>

<section id="featureSec" class="container py-5">
    <h2>Featured</h2>
    <div class="d-flex justify-content-between flex-wrap">
        <aside>
            <div class="imgSec" style="background-image: url('/assets/images/product.png');"></div>
            <h3>$95.00</h3>
            <p>Montecristo Open Regata Tubos</p>
            <a href="" class="btn">Add to Cart</a>
        </aside>
        <aside>
            <div class="imgSec" style="background-image: url('/assets/images/product.png');"></div>
            <h3>$95.00</h3>
            <p>Montecristo Open Regata Tubos</p>
            <a href="" class="btn">Add to Cart</a>
        </aside>
        <aside>
            <div class="imgSec" style="background-image: url('/assets/images/product.png');"></div>
            <h3>$95.00</h3>
            <p>Montecristo Open Regata Tubos</p>
            <a href="" class="btn">Add to Cart</a>
        </aside>
        <aside>
            <div class="imgSec" style="background-image: url('/assets/images/product.png');"></div>
            <h3>$95.00</h3>
            <p>Montecristo Open Regata Tubos</p>
            <a href="" class="btn">Add to Cart</a>
        </aside>
        <aside>
            <div class="imgSec" style="background-image: url('/assets/images/product.png');"></div>
            <h3>$95.00</h3>
            <p>Montecristo Open Regata Tubos</p>
            <a href="" class="btn">Add to Cart</a>
        </aside>
        <aside>
            <div class="imgSec" style="background-image: url('/assets/images/product.png');"></div>
            <h3>$95.00</h3>
            <p>Montecristo Open Regata Tubos</p>
            <a href="" class="btn">Add to Cart</a>
        </aside>
        <aside>
            <div class="imgSec" style="background-image: url('/assets/images/product.png');"></div>
            <h3>$95.00</h3>
            <p>Montecristo Open Regata Tubos</p>
            <a href="" class="btn">Add to Cart</a>
        </aside>
        <aside>
            <div class="imgSec" style="background-image: url('/assets/images/product.png');"></div>
            <h3>$95.00</h3>
            <p>Montecristo Open Regata Tubos</p>
            <a href="" class="btn">Add to Cart</a>
        </aside>
    </div>
</section>

<section id="aboutSec">
    <div class="overlay">
        <div class="container py-5">
            <h2>About Store</h2>
            <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio nostrum</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, perspiciatis. Nam tempore animi, vitae accusantium quia dolorum cupiditate quod sequi nostrum magni incidunt voluptas autem suscipit, quis earum illum ad! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, perspiciatis. Nam tempore animi, vitae accusantium quia dolorum cupiditate quod sequi nostrum magni incidunt voluptas autem suscipit, quis earum illum ad!</p>
        </div>
    </div>
</section>

<!-- <app-footer></app-footer> -->
