@import "src/@fuse/scss/fuse";
@import url(//fonts.googleapis.com/css?family=Yesteryear);
@font-face {
  font-family: lato;
  src: url(assets/fonts/PressStyle.otf) format("opentype");
}

:host {
  .sticky {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    width: 100%;
  }

  /* Container holding the image and the text */
  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }

  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }

  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  /* Centered text */
  .centered {
    position: absolute;
    top: 90%;
    left: 50%;
    bottom: 8px;
    transform: translate(-50%, -50%);
  }
}

#home {
  // width: 100%;
  // top: 100px;
  // padding: 0px;
  margin-top: 130px;
  background: url("/assets/images/backgrounds/dark-material-bg.jpg") no-repeat;
  // background-color: whitesmoke;
  background-size: cover;
  @include mat-elevation(16);
  .font-yestarday {
    font-family: "Yesteryear", "arial", sans-serif;
    font-size: 40px;
  }
  .font-yestarday-featured {
    font-family: "Yesteryear", "arial", sans-serif;
    font-size: 50px;
  }
  .menu {
    z-index: 99999;
    background-color: black;
    color: white;
   
  }
  .logotop {
    color: white;
    font-size: 50px !important;
    text-align: center;
    padding-top: 40px;
  }
  .featureImage {
    border-radius: 5px;
  }
  @include media-breakpoint("xs") {
    margin-top: 410px;
    font-size: 10px !important;
    .logotop {
      font-size: 10px !important;
    }
  }
  #foo {
    // background-image: url('a.jpg');
    transition: background 1s linear;
  }
  // background: url("assets/images/banner-s2.jpg") ;
  // .home-form-wrapper {
  //   width: 100%; // determine thee width of the page
  //   // padding: 10px;
  //   // background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
  //   background-color: whitesmoke;
  //   background-size: cover;
  //   @include media-breakpoint("xs") {
  //     padding: 6px;
  //   }
  //   @include mat-elevation(16);
  //   .font-yestarday {
  //     font-family: "Yesteryear", "arial", sans-serif;
  //     font-size: 30px;
  //   }
  //   .font-yestarday-featured {
  //     font-family: "Yesteryear", "arial", sans-serif;
  //     font-size: 80px;
  //   }

  //   .home-form {
  //     width: 100%;
  //     max-width: 100%;
  //     padding: 12px;
  //     background: none;
  //     text-align: center;

  //     @include media-breakpoint("xs") {
  //       padding: 24px;
  //       width: 100%;
  //       max-width: 384px;
  //     }

  //     .logo {
  //       width: 200px;
  //       margin: 32px auto;
  //     }
  //     .logomain {
  //       width: 500px;
  //       margin: 32px auto;
  //     }
  //     .logotop {
  //       width: 400px;
  //       margin: 6px auto;
  //     }

  //     .title {
  //       font-size: 20px;
  //       margin: 16px 0 32px 0;
  //     }

  //     .separator {
  //       font-size: 15px;
  //       font-weight: 600;
  //       margin: 24px auto;
  //       position: relative;
  //       overflow: hidden;
  //       width: 100px;
  //       color: rgba(0, 0, 0, 0.54);

  //       .text {
  //         display: inline-flex;
  //         position: relative;
  //         padding: 0 8px;
  //         z-index: 9999;

  //         &:before,
  //         &:after {
  //           content: "";
  //           display: block;
  //           width: 30px;
  //           position: absolute;
  //           top: 10px;
  //           border-top: 1px solid rgba(0, 0, 0, 0.12);
  //         }

  //         &:before {
  //           right: 100%;
  //         }

  //         &:after {
  //           left: 100%;
  //         }
  //       }
  //     }

  //     button {
  //       &.google,
  //       &.facebook {
  //         width: 192px;
  //         text-transform: none;
  //         color: #ffffff;
  //         font-size: 13px;
  //       }

  //       @include media-breakpoint("xs") {
  //         width: 80%;
  //       }

  //       &.google {
  //         background-color: #d73d32;
  //         margin-bottom: 8px;
  //       }

  //       &.facebook {
  //         background-color: rgb(63, 92, 154);
  //       }
  //     }
  //   }
  // }
}
