@import "src/@fuse/scss/fuse";
@import url(//fonts.googleapis.com/css?family=Yesteryear);
@font-face {
  font-family: lato;
  src: url(assets/fonts/attention.otf) format("opentype");
}


    
    .header-menu {
        z-index: 999999;
        background-color: black;
        color: white;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0px;
    
        .mat-button:hover {
          background-color: goldenrod;
        }
       
        .menufont {
            font-family: "Yesteryear", "arial", sans-serif;
          }
      }


      .top-overlay {
        font-family: "lato", "arial", sans-serif;
        font-size: 200px;
        width: 100%;
      }
    
      .bottom-overlay {
        font-family: "Yesteryear", "arial", sans-serif;
        font-size: 290px;
        padding-top: 520px;
        width: 100%;
      }
    
      .carousel {
        z-index: 1;
        background-color: black;
        color: white;
        position: fixed;
        top: 100px;
        left: 0px;
        // width: 100
    
        .mat-button:hover {
          background-color: goldenrod;
        }
      }
      .show {
        opacity: 1 !important;
      }
      .step {
        opacity: 0;
        transition: 0.9s ease-in-out all;
      }
      .centered {
        position: absolute;
        top: 30%;
        left: 62%;
        transform: translate(-50%, -50%);
      }
      .glow {
            // font-size: 80px;
            color: #fff;
            text-align: center;
            -webkit-animation: glow 1s ease-in-out infinite alternate;
            -moz-animation: glow 1s ease-in-out infinite alternate;
            animation: glow 1s ease-in-out infinite alternate;
          }