.pdf-container{
    // max-height: 300px !important;
    min-height: 100px;
    max-width: 100%;
    position: relative;
}


.fuse-card{
    // min-height: 200px;
    margin-bottom: 20px;
    padding-bottom: 100px;
}
