<div id="login" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="login-form">

      <div class="logo">
        <img src="assets/images/logos/bi-logo-with-tagline.svg">
      </div>

      <form name="loginForm" [formGroup]="loginForm" novalidate>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput  formControlName="email" >
          <mat-error *ngIf="loginForm.get('email').hasError('required')">valid email format is required</mat-error>      
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Old Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="oldPassword">
              <mat-error *ngIf="loginForm.get('oldPassword').hasError('required')">old password required</mat-error>      
              <mat-error *ngIf="loginForm.get('oldPassword').hasError('wrongpassword')">wrong password</mat-error>   
              <mat-error *ngIf="loginForm.get('oldPassword').hasError('same')">your new password is the same as the old one</mat-error>      
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="newPassword">
          <mat-error *ngIf="loginForm.get('newPassword').hasError('required')"> New password is required to have 6 charcaters minimun</mat-error>      
          <mat-error *ngIf="loginForm.get('newPassword').hasError('same')">your new password is the same as the old one</mat-error>      
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" placeholder="confirm password" formControlName="confirmPassword">
          <mat-error *ngIf="loginForm.get('confirmPassword').hasError('required')"> Confirm Password do not match new password</mat-error>      
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="resetPassword()" class="submit-button" aria-label="LOG IN" [disabled]="loginForm.invalid">
          RESET PASSWORD
        </button>
      </form>

    </div>
  </div>