<div id="stripe" fxLayout="column">

  <div id="stripe-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="stripe-form">

      <div class="logo">
        <img src="assets/images/logos/bi-logo-with-tagline.svg">
      </div>

      <div class="mat-subheading-2">Hi, how can we help you?</div>

      <form name="stripeForm" [formGroup]="stripeForm" novalidate>

        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="senderName" required>
          <mat-error *ngIf="!formErrors.senderName.required">
            4 characters minimum name is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="emailFrom" required>
          <mat-error *ngIf="!formErrors.emailFrom.required">
            A valid Email is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>amount</mat-label>
          <input type="number" matInput placeholder="$ Amount" formControlName="amount">
          <mat-error *ngIf="!formErrors.amount.required">
            amount is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Card Number</mat-label>
          <input type="number" matInput placeholder="card Number" formControlName="cardNumber">
          <mat-error *ngIf="!formErrors.cardNumber.required">
            cardNumber is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Exp Date</mat-label>
          <input type="number" matInput placeholder="MM DD" formControlName="expDate">
          <mat-error *ngIf="!formErrors.expDate.required">
            expDate is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CCV</mat-label>
          <input type="number" matInput placeholder="ccv" formControlName="ccv">
          <mat-error *ngIf="!formErrors.ccv.required">
            ccv is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Zipcode</mat-label>
          <input type="number" matInput placeholder="33131" formControlName="zipcode">
          <mat-error *ngIf="!formErrors.zipcode.required">
            zipcode is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Billing Address</mat-label>
          <input type="number" matInput placeholder="address" formControlName="billingAddress">
          <mat-error *ngIf="!formErrors.billingAddress.required">
            billingAddress is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Reason for Communication</mat-label>
          <mat-select placeholder="Reason for Communication" formControlName="TypeOfInquiry">
            <mat-option *ngFor="let contactReason of reasons" [value]="contactReason">
              {{contactReason}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formErrors.TypeOfInquiry.required">
            Select a reason is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Survey Name (optional)</mat-label>
          <input matInput formControlName="SurveyName">
        </mat-form-field>



        <button mat-raised-button color="accent" (click)="onSubmit()" class="submit-button" aria-label="LOG IN"
          [disabled]="stripeForm.invalid">
          SEND
        </button>

      </form>

    </div>

  </div>

</div>