<div id="login" fxLayout="column">
    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="login-form">
            <div class="logo">
                <img src="assets/images/logos/bi-logo-with-tagline.svg">
            </div>
            <div class="mat-subheading-1">Please enter your email to retrieve password and username</div>
            <form name="loginForm" [formGroup]="loginForm" novalidate>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="accent" (click)="retrievePassword()" class="submit-button" aria-label="LOG IN" [disabled]="loginForm.invalid">
                    SEND
                </button>
            </form>
            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/apps/login/auth/login'">go back to login?</a>
            </div>
        </div>
    </div>
</div>