<div id="product" fxLayout="column">
    <div id="product-form-wrapper" fxLayout="row" fxLayoutAlign="start start">
            <!-- / CONTENT CARD -->
        <div id="product-form">           
            <div class="mat-subheading-2">PRODUCT LIST</div>
            <div *ngFor="let item of products; let i = index">
                <div class="fuse-card">
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="pr-16">
                            <div class="h4 secondary-text">NAME</div>
                            <div class="h1">{{item.name}}</div>
                        </div>
                        <div class="w-80 h-80">
                            <img src="assets/images/cards/card2-small.jpg">
                      </div>
                    </div>
                    <div class="p-16 pt-0 line-height-1.75">
                        {{item.description}}
                    </div>
                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                        <button mat-button color="accent">EDIT</button>
                        <button mat-button color="accent">DELETE</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="product-form">           
            <div class="mat-subheading-2">PRODUCT LIST</div>
            <div *ngFor="let item of products; let i = index">
                <div class="fuse-card">
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="pr-16">
                            <div class="h4 secondary-text">NAME</div>
                            <div class="h1">{{item.name}}</div>
                        </div>
                        <div class="w-80 h-80">
                            <img src="assets/images/cards/card2-small.jpg">
                      </div>
                    </div>
                    <div class="p-16 pt-0 line-height-1.75">
                        {{item.description}}
                    </div>
                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                        <button mat-button color="accent">EDIT</button>
                        <button mat-button color="accent">DELETE</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="product-form">           
            <div class="mat-subheading-2">PRODUCT LIST</div>
            <div *ngFor="let item of products; let i = index">
                <div class="fuse-card">
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="pr-16">
                            <div class="h4 secondary-text">NAME</div>
                            <div class="h1">{{item.name}}</div>
                        </div>
                        <div class="w-80 h-80">
                            <img src="assets/images/cards/card2-small.jpg">
                      </div>
                    </div>
                    <div class="p-16 pt-0 line-height-1.75">
                        {{item.description}}
                    </div>
                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                        <button mat-button color="accent">EDIT</button>
                        <button mat-button color="accent">DELETE</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="product-form">           
            <div class="mat-subheading-2">PRODUCT LIST</div>
            <div *ngFor="let item of products; let i = index">
                <div class="fuse-card">
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="pr-16">
                            <div class="h4 secondary-text">NAME</div>
                            <div class="h1">{{item.name}}</div>
                        </div>
                        <div class="w-80 h-80">
                            <img src="assets/images/cards/card2-small.jpg">
                      </div>
                    </div>
                    <div class="p-16 pt-0 line-height-1.75">
                        {{item.description}}
                    </div>
                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                        <button mat-button color="accent">EDIT</button>
                        <button mat-button color="accent">DELETE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>