<mat-form-field appearance="outline" fxFlex="100" [formGroup]="group">
    <mat-label>{{field.label}}</mat-label>
     <input matInput [formControlName]="field.name"  [(ngModel)]="field.value"
     [placeholder]="field.placeHolder" [value]="field.value" [type]="field.inputType">
    <ng-container *ngFor="let validation of field.validations" ngProjectAs="mat-error">
        <mat-error *ngIf="group.get(field.name).hasError(validation.name)">{{validation.message}}</mat-error>      
    </ng-container>
    <a *ngIf="field.icon === 'edit'" style="float: right;" mat-raised-button routerLink="/apps/login/contact-us">edit</a>
</mat-form-field>