<div class="page-layout blank p-24"  fxLayoutGap="30px"  fxLayout="column" fxLayoutAlign="space-around center" fusePerfectScrollbar>
    <div fxflex="50" style=" background-color: red;">
        <!-- <div class="logo" > -->
            <img src="assets/images/logos/bi-logo-with-tagline.svg">
        <!-- </div> -->
    </div>
    <div fxflex style="background-color: blue;">
        <!-- <div class="logo" > -->
            <img src="assets/images/logos/bi-logo-with-tagline.svg">
        <!-- </div> -->
    </div>
    <div fxflex style="background-color: green;">
        <!-- <div class="logo" > -->
            <img src="assets/images/logos/bi-logo-with-tagline.svg">
        <!-- </div> -->
    </div>
</div>