<div id="service"  fxLayout="row" fxLayoutAlign="space-around center">
    <div fxflex="33">
        <div class="logo" style="background-color: red;">
            <img src="assets/images/logos/bi-logo-with-tagline.svg">
        </div>
    </div>
    <div fxflex="33">
        <div class="logo" style="background-color: blue;">
            <img src="assets/images/logos/bi-logo-with-tagline.svg">
        </div>
    </div>
    <div fxflex="33">
        <div class="logo" style="background-color: green;">
            <img src="assets/images/logos/bi-logo-with-tagline.svg">
        </div>
    </div>
</div>